@font-face {
  font-family: "Ubuntu Medium";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Opensans Variable";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Opensans Variable";
  font-size: 18px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

h1 {
  font-family: "Ubuntu Medium";
  font-size: 25px;
  font-weight: 500;
}

h2 {
  font-family: "Ubuntu Regular";
  font-size: 20px;
  font-weight: 400;
}

label {
  font-family: "Ubuntu Regular";
  font-size: 18px;
  font-weight: 400;
}

.header {
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__container {
  width: 90%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header img {
  width: 39px;
  height: 39px;
}
.header__menu {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__nav {
  font-family: "Opensans Variable";
  font-size: 20px;
  font-variation-settings: "wght" 600;
  margin-right: 30px;
}
.header__nav__list {
  margin: 0;
  background: #F36F21;
  color: white;
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  z-index: 10;
  display: none;
}
.header__nav__item {
  text-align: center;
  margin-top: 60px;
  top: 0;
  right: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.header__nav__item:hover {
  top: -10px;
  font-size: 1.1em;
}
.header__nav__item a {
  color: inherit;
  text-decoration: inherit;
  -webkit-transition: border-bottom 400ms ease;
  transition: border-bottom 400ms ease;
}
.header__nav__item a:hover {
  border-bottom: 4px solid white;
}
.header__nav__mobile {
  display: block;
}
.header__nav__mobile i {
  font-size: 2em;
}
.header__icons {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icons i {
  font-size: 2em;
}

.hero__intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__intro-img {
  width: 100%;
  height: 50vh;
  position: relative;
}
.hero__intro-img-square {
  width: 90%;
  height: 70%;
  position: absolute;
  margin: 0;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #F36F21;
}
.hero__intro-img-1 {
  visibility: hidden;
  clear: both;
  display: none;
}
.hero__intro-img-2 {
  width: 75%;
  height: 80%;
  position: absolute;
  margin: 0;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.1490196078);
          box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
.hero__intro-hello {
  width: 90%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__intro-hello-title {
  line-height: 1.6em;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.hero__intro-hello-text {
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.hero__intro-hello-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Ubuntu Regular";
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  border: 2px solid #F36F21;
  border-radius: 100px;
  padding: 10px 22px 10px 22px;
  gap: 10px;
  margin: 10px 0;
}
.hero__intro-hello-btn:hover {
  background-color: #F36F21;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.hero__info {
  height: 105vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ECECEC;
}
.hero__info-hello {
  width: 90%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__info-hello-title {
  line-height: 1.6em;
  letter-spacing: 0.02em;
  margin: 20px 0;
}
.hero__info-hello-text {
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.hero__info-hello-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Ubuntu Regular";
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  border: 2px solid #F36F21;
  border-radius: 100px;
  padding: 10px 22px 10px 22px;
  gap: 10px;
}
.hero__info-hello-btn:hover {
  background-color: #F36F21;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.hero__info-img {
  width: 90%;
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-top right-item" "left-bottom right-item";
  grid-gap: 15px;
  margin: 20px 0;
}
.hero__info-img-1 {
  visibility: hidden;
  display: none;
}
.hero__info-img-2 {
  grid-area: left-top;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero__info-img-3 {
  grid-area: left-bottom;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero__info-img-4 {
  grid-area: right-item;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 25vh;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  z-index: 20;
  color: white;
  -webkit-animation: modal 400ms ease both;
          animation: modal 400ms ease both;
}
.modal__content {
  background-color: #F36F21;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 35vh;
}
.modal__title {
  margin: 50px 0 20px 0;
}
.modal__label {
  margin-left: 15px;
}
.modal__input {
  border: none;
  width: 100%;
  border-radius: 30px;
  height: 30px;
  outline: none;
  padding: 15px;
}
.modal__input:focus {
  border: none;
}
.modal__close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  text-decoration: none;
  cursor: pointer;
}

.nav-active-item {
  right: -100%;
}

.nav-active {
  right: 0;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.nav-desactive {
  right: -100%;
  -webkit-animation: hide 0.6s;
          animation: hide 0.6s;
}

.fixed-position {
  position: fixed;
}

@media screen and (min-width: 768px) {
  h1 {
    font-family: "Ubuntu Medium";
    font-size: 40px;
    font-weight: 500;
  }
  h2 {
    font-family: "Ubuntu Regular";
    font-size: 30px;
    font-weight: 400;
  }
  .header {
    height: 70px;
  }
  .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__nav {
    margin-right: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Opensans Variable";
    font-size: 16px;
    font-variation-settings: "wght" 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav__list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    background-color: transparent;
    color: black;
    width: 100%;
    height: auto;
    top: auto;
  }
  .header__nav__item {
    list-style: none;
    margin: 0 20px;
  }
  .header__nav__item a {
    color: inherit;
    text-decoration: inherit;
    -webkit-transition: border-bottom 400ms ease;
    transition: border-bottom 400ms ease;
  }
  .header__nav__item a:hover {
    border-bottom: 4px solid black;
  }
  .header__nav__mobile {
    display: none;
  }
  .header img {
    width: 55px;
    height: 55px;
  }
  .header__icons i {
    font-size: 1em;
  }
  .hero__intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 55vh;
  }
  .hero__intro-img {
    width: 100%;
    position: relative;
  }
  .hero__intro-img-square {
    width: 55%;
    height: 70%;
    top: 50%;
    left: 50%;
  }
  .hero__intro-img-1 {
    width: 60%;
    height: 60%;
    visibility: visible;
    display: block;
    position: absolute;
    left: 10%;
    top: 10%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    z-index: 2;
  }
  .hero__intro-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    left: 70%;
    top: 65%;
  }
  .hero__intro-hello {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 20px;
  }
  .hero__intro-hello-text {
    font-family: "Ubuntu Regular";
    font-size: 30px;
    font-weight: 400;
  }
  .hero__intro-hello-btn {
    font-family: "Ubuntu Regular";
    font-size: 18px;
    font-weight: 400;
  }
  .hero__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 45vh;
  }
  .hero__info-hello {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 60px;
  }
  .hero__info-hello-title {
    width: 90%;
  }
  .hero__info-hello-text {
    width: 80%;
  }
  .hero__info-img {
    width: 80%;
    height: 35vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-item center-top right-item" "left-item center-bottom right-item";
    grid-gap: 15px;
    margin: 30px 30px 30px 0;
  }
  .hero__info-img-1 {
    visibility: visible;
    display: block;
    grid-area: left-item;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .hero__info-img-2 {
    grid-area: center-top;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .hero__info-img-3 {
    grid-area: center-bottom;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .hero__info-img-4 {
    grid-area: right-item;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .modal__content {
    width: 60%;
    height: 50vh;
  }
  .modal__close {
    font-size: 32px;
  }
  .modal__title {
    margin: 60px 0 40px 50px;
    margin-left: 10%;
  }
  .modal__label {
    margin-left: 12%;
  }
  .modal__input {
    height: 50px;
    font-size: 18px;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@-webkit-keyframes show {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes show {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes hide {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@keyframes hide {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@-webkit-keyframes modal {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes modal {
  from {
    opacity: 0;
    top: 1000px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */